/* CSS Salvadormassageservices.nl */

@font-face {
  font-family: "Eras Demi ITC";
  src: url(../erasdemiitc.ttf) format("truetype");
}
body {
  margin: 0;
  background-color: #fff; /* #E7FFCF kan ook geprobeerd */
  font-family: montserrat, Arial, sans-serif;
}
h1 {
	font-size: 24px;
	color: #65A624;
  margin: 0px;
  margin-top: 8px;
}
h3 {
  font-size: 18px;
  color: #65A624;
}
h4 {
  font-family: 'Eras Demi ITC', montserrat, Arial, sans-serif;
  color: #68735D;
  font-size: 18px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 15px;
}
h5 {
  font-family: 'Eras Demi ITC', montserrat, Arial, sans-serif;
  font-size: 16px;
  color: #68735D;
  font-weight: lighter;
  margin: 4px auto 40px auto; 
}
h6 {
  margin-bottom: 10px;
  font-size: 16px;
}
a {
  text-decoration: none;
}
.mainVervolg a:hover,
.introtekst a:hover,
.uitlegHome1 a:hover,
.uitlegHome2 a:hover {
  text-decoration: underline;
}
.bold, p.bold a {
  font-weight: bolder;
}
p.bold a {
  line-height: 1.35em;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    /* "slide slide slide" */
    "logo title title"
    "nav1 nav2 nav3"
    "nav4 nav5 nav6"
    "introtekst introtekst introtekst"
    "bryfoto bryfoto bryfoto"
    "smalLinks breedRechts breedRechts"
    "uitlegHome1 uitlegHome1 uitlegHome1" 
    "uitlegHome2 uitlegHome2 uitlegHome2"
    "footer footer footer"
    "onderaan onderaan onderaan"; 
}
.logo {
  grid-area: logo;
  padding: 5px;
  width: 100%;
  cursor: pointer;
}
.title {
  grid-area: title;
  font-family: 'Eras Demi ITC', montserrat, Arial, sans-serif;
  padding-top: 20px;
}
.slide {
  grid-area: slide;
  height: 150px;
  overflow: hidden;
  margin-bottom: 10px;
}
.nav {
height: 40px;
background-color: #DBF2C4;
background-image: url("../images/chinese-roos-transp.png");
background-repeat: no-repeat;
background-size: 25%;
background-position-x: right;
opacity: .9;
color: #68735D;
font-family: 'Eras Demi ITC', montserrat, Arial, sans-serif;
font-weight: 400;
/* de volgende 3 zorgen ervoor dat de tekst horizontaal en vertikaal gecentreerd wordt */
display: flex; 
justify-content: center; /* verticale uitlijning */
align-items: center; /* horizontale uitlijning voor 1 woord */
text-align: center; /* horizontale uitlijning voor meerdere woorden */
border-radius: 5px;
box-shadow: 1px 1px 3px #333;
transition: all 0.2s ease-in-out 0s; /* wordt getriggered bij :hover */
margin: 6px;
}
.nav:hover {
  transform: scale(1.02,1.02);
  /* overflow: hidden; */ /* zodat er geen horiz. scrollbalk komt bij :hover -> werkt nog niet*/
}
/* Animation for slide-images */
@keyframes zen {
  0% {
    transform: scale(4,4);
    opacity: 0;
  }
  16% {
    transform: scale(1,1);
    opacity: 1;
  }
  20% {
    transform: scale(1,1);
    opacity: 1;
    /* z-index: +1; */
  }
  36% {
    transform: scale(4,4);
    opacity: 0;
  }
  100% {
    transform: scale(4,4);
    opacity: 0;
    z-index: -1;
  }
}
@keyframes fade {
  0% {
    transform: scale(1,1);
    opacity: 1;
  }
  100% {
    transform: scale(4,4);
    opacity: 0;
  }
}
.slider-img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation-name: zen;
  animation-duration: 100s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  opacity: 0;
}
.first {
  position: relative;
  top: -770px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation-name: fade;
  animation-duration: 16s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  opacity: 0;
}
.delay1 {
  top: -154px;
  animation-delay: 20s;
}
.delay2 {
  top: -308px;
  animation-delay: 40s;
}
.delay3 {
  top: -462px;
  animation-delay: 60s;
}
.delay4 {
  top: -616px;
  animation-delay: 80s;
}
.introtekst {
  grid-area: introtekst;
  margin: 20px 15px 0px 15px;
  /* box-shadow: 1px 1px 3px #333;
  border-radius: 2%; */
}
.bryfoto {
  grid-area: bryfoto;
  margin-top: 10px;
  /* position: relative; */
}
.uitlegHome1 {
  grid-area: uitlegHome1;
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
}
.uitlegHome2 {
  grid-area: uitlegHome2;
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
}
.FotoBryanMain {
  width: 60%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
  margin: 10px 20%;
}
.testimo1 {
  grid-area: testimo1;
  margin: 10px 50px 0px 10px;
}
.testimo2 {
  grid-area: testimo2;
  margin: 10px 0px 15px 60px;
  /* line-height: 1.2em; heeft geen nut: verandert alleen afstand boven de auteursregel */
}
.alleTestimo {  
  padding: 0 8px;
  border-left: 6px solid grey;
  color: #000;
  background-color: #DBF2C4;
  border-radius: 2%;
}
.aanhaal { /* aanhalingstekens in de citaten (op desktop font-size: 40px?) */
  font-size: 78px;
  opacity: 0.4;
  position: relative;
  top: 15px;
}
.aanhaal2 { /* extra voor de sluitende aanhalingstekens */
  top: 50px;
}
.quote {
  margin-top: 25px;
  font-size: 20px;
  font-family: vollkorn, serif;
  font-style: italic;
  font-weight: 400;
  line-height: 1.4em;
}
p.auteur {
  margin-top: 10px;
  font-size: 14px;
}
.footer {
  grid-area: footer;
  height: 220px;
  margin-top: 25px;
/*  background-color: #B7BFB0; */
  color: #000;
  border-radius: 5px;
  font-size: 16px;
}
.map {
  width: 45%;
  margin-left: 5%;
  margin-bottom: 10px;
  border: 1px solid grey;
}
.adresTekst {
  float: right;
  margin-top: -5px;
  margin-right: 9%;
}
a .adresTekst {
  color: #000;
  text-decoration: none;
}
.contactRegel {
  display: flex;
  justify-content: center;
  margin: 20px 30px;
}
.enkelIkoontjes {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  margin: 20px 30px;
  justify-content: flex-end;
}
.contactRegel a, .container a, nav a {
  color: #65A624;
  font-weight: 700;
}

i.far, i.fas, i.fab {
	color: #65A624;
}
i.far, i.fab {
	font-weight: bold;
}
i.fa-whatsapp {
	font-size: 105%;
	padding: 0px;
}
i.fa-envelope-open {
	padding: 0px 0px 0px 10px;
}
i.fa-phone {
	padding: 0px 0px 0px 10px;
}
i.fa-times, i.fa-bars {
  font-size: 150%;
}
.mainVervolg {
  grid-area: introtekst;
  margin-left: 15px;
  margin-right: 15px;
}
.mainVervolg a {
  font-weight: 400;
}
.maincontact1 {
  grid-area: smalLinks;
}
.maincontact2 {
  grid-area: breedRechts;
}
.tarieven h6 {
  margin-top: 15px;
}
.tarieven p {
  margin-bottom: 20px;
}
.zonder {
  list-style-type: none;
}
span.Eras {
  color: #65A624;
  font-family: 'Eras Demi ITC', montserrat, Arial, sans-serif;
  font-weight: 700;
}
.tekstBreed {
  grid-area: uitlegHome1;
  margin-left: 15px;
  margin-right: 15px;
}
.centreren {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
/* Reserveringen paginas */
.content-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: left;
	padding: 20px 5%;
	max-width: 800px;
}
.naast-button {
	flex: 2 0 200px;
	padding-bottom: 10px;
}
a.btn { 
  text-decoration: none;
  background: #65A624;
  color: white;
  padding: 0.35em 0.75em;
  margin: 0px 15px 0px 10px;
  border-radius: 8px;
  box-shadow: 2px 3px 8px #888888;
  flex: 1 0 80px;
  text-align: center;
  max-height: 1.3em;
}
.youcanbookme-wrap {
	padding: 0px 20px 0px 25px;
} /* Einde reserveringen pagina's */

/* Hamburger menu + animation */
.navigatie {
  background-color: #fff;
  text-align: center;
  position: fixed;
  bottom: -1px;
  width: 100%;
  height: 35px;
  z-index: 110;
  box-shadow: 2px -2px 5px -3px #65A624;
}
.nav-toggle {
  display: none; /* anders is de checkbox zichtbaar - het aan en uitzetten is gekoppeld aan de label nav-toggle-label */
}

.fa-bars {
  padding: 7px;
}
nav { /* eventuele positioning gebeurt relatief aan waar .navigatie gepositioneerd is */
  position: absolute;
  bottom: 100%;
  left: 30%;
  background-color: #fff;
  width: 40%;
  transform: scale(1,0);
  transform-origin: bottom;
  transition: transform 400ms ease-in-out;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: 2px -2px 5px -3px #65A624;
}
nav li {
  line-height: 1.6em; /* dit veranderen als de items te dicht op elkaar staan */
}
nav a {
  color: #65A624;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 150ms ease-in;
  display: block;
}
nav a:hover:not(.active) {
  background-color: #555;
  color: white;
}
nav a.active {
  background-color: rgba(101, 166, 36, 0.9);
  color: white;
}
.nav-toggle:checked ~.navigatie nav { 
  transform: scale(1,1);
}
.nav-toggle:checked ~ .navigatie a { 
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
.nav-toggle-close { 
  width: 100%;
  height: 900%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 100;
}
.nav-toggle:checked ~ .nav-toggle-close {
  display: block;
}

/* Media queries */
@media screen and (max-width: 346px) {
  .adresTekst {
    float: none;
  }
  .adresTekst h5 {
    margin-left: 10%;
    font-size: 1.2em;
  }
  .map {
    width:80%;
    margin-left: 10%;
  }
  .contactRegel {
    font-size: 0.85em;
  }
}  
@media screen and (min-width: 385px) {
  div.title {
    margin-left: 5%;
  }
}
@media screen and (min-width: 400px) {
  .container {
    margin-left: 6%;
    margin-right: 6%;
  }
}
@media screen and (min-width: 600px) {
  .enkelIkoontjes {
    font-size: 1.3em;
    margin-right: 6%;
  }
  .contactRegel {
    font-size: 1.1em;
  }
  .Eras {
    font-size: 1.1em;
  }
  .centreren {
    justify-content: left; 
  }
}
@media screen and (min-width: 800px) { /* verandert en verplaatst het uitschuifmenu naar boven */
  .nav {
    visibility: hidden;
  }
  .fa-bars {
    display: none;
  }
  .navigatie {
    top: 380px;
    box-shadow: none;
    position: absolute;
    margin-left: 8%;
    /* display: flex; */
    /* justify-content: center; */
  }
  .navigatieVervolgp {
    top: 25%;
  }
  .mainVervolg {
    margin-top: 12%;
  }
  input.nav-toggle-label {
    all:unset;
  }
  nav {
    display: visible;
    width: 100%;
    left: 0;
    bottom: 0%;
    height: 45px;
    transform: scale(1,1);
  }
  nav a {
    opacity: 1;
    width: 100px;
  }
  nav ul {
    display: flex;
    box-shadow: none;
    height: 38px
  } 
  nav li {
    color: green;
    border-radius: 3px;
    box-shadow: 2px -2px 5px -3px #65A624;
    padding: 0.6%;
    margin-right: 1%;

  }
  div nav ul li a[href="index.html"] {
    display:none;
  }
  div nav ul li:nth-child(1), div nav ul li:nth-child(8), div nav ul li:nth-child(9), div nav ul li:nth-child(10) {
    display:none;
  }
  .logo {
    width: 90%;
  }
  h1 {
    font-size: 28px;
  }
  nav a:hover:not(.active), nav a.active {
    background-color: unset;
    color: unset;
    text-decoration: underline;
  }
  .introtekst {
  margin-top: -15px;
}  
img.FotoBryanMain {
  width: 40%;
  margin-left: 30%;
}
.adresTekst {
  margin-top: 15px;
  margin-right: 15%;
}
}
@media screen and (min-width: 900px) {
  .navigatie {
    margin-left: 10%;
    top: 400px;
  }
  .introtekst {
    margin-top: -5px;
  }
  .navigatieVervolgp {
    top: 30%;
  }
}  
@media screen and (min-width: 1000px) {
  .navigatie {
    margin-left: 15%;
    top: 420px;
  }
  .navigatieVervolgp {
    top: 33%;
    margin-left: 14%;
  }
  .introtekst, .uitlegHome1, .uitlegHome2, .footer {
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 5%;
  }
  .adresTekst {
    margin-right: 25%;
  }
  .footer {
    margin-top: 50px;
  }
}  
@media screen and (min-width: 1200px) {
  .logo {
    width: 80%;
  }
  .enkelIkoontjes {
    margin-right: 20%;
  }
  .navigatieVervolgp {
    top: 30%;
    margin-left: 20%;
  }
}  
@media screen and (min-width: 1400px) {
  .logo {
    width: 70%;
  }
}